
      html,  .lovey-dovey {
            color: red;
        }
        
        #official-info {
            background: rgb(230, 230, 230);
            width: 70%;
            height: 180px;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 15px 0px 10px 6px;
            border: 2px dashed rgb(161, 161, 161);
            padding: 6px;
        }
        
        #cute-cat {
            width: 120px;
            margin-right: 10px;
            margin-bottom: 10px;
            border: 6px ridge red;
        }
        
        #container {
            width: 400px;
            margin: auto;
            border: 1px solid rgb(145, 0, 0);
            border-top: 10px solid purple;
            padding: 15px;
        }
    
